body {
    background-color: tan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: black;
}

.projects{ 
    display:flex;
    flex-wrap:wrap;
 } 

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: tan; /* pick a color */
border-radius: 25%;
}
