body {
    font-weight: bold;
    color: navy;
    background-color: tan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: navy;
}

h3{
    text-decoration: underline;
}

.projects{ 
    display:flex;
    flex-wrap:wrap;
 } 

.project {

width: 30%;
margin: 10px;
padding: 20px 10px;
background: tan; /* pick a color */
border-radius: 25%;
font-weight: bold;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid navy; /* choose a color */
    display: block;
    margin: auto;
    }

 a { /* change the appearance of ALL links */
     text-decoration: none;
     color: navy;
    }
    .project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
     }

     about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
        }
        .about p {
        width:50%;
        text-align: center;
        margin: auto;
        line-height: 125%;
        }
        .about img {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid navy;
        }