body {
    background-color: tan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
    font-weight: bold;
}
.about{
    text-align: center;
}
.skills{
    text-align: center;
}
.project{
    text-align: center;
}
.contact{
    text-align: center; 
}
